# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
.env.*


# OS
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
logs/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/dist-ssr/
frontend/*.local